@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-SemiBoldItalic.woff") format("woff"),
    url("../../assets/fonts/Kanit-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-Thin.woff") format("woff"),
    url("../../assets/fonts/Kanit-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-ThinItalic.woff") format("woff"),
    url("../../assets/fonts/Kanit-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-Black.woff") format("woff"),
    url("../../assets/fonts/Kanit-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-BlackItalic.woff") format("woff"),
    url("../../assets/fonts/Kanit-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/../../assets/fonts/Kanit-Bold.woff")
      format("woff"),
    url("../../assets/fonts/Kanit-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-BoldItalic.woff") format("woff"),
    url("../../assets/fonts/Kanit-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-ExtraBold.woff") format("woff"),
    url("../../assets/fonts/Kanit-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-ExtraBoldItalic.woff") format("woff"),
    url("../../assets/fonts/Kanit-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-ExtraLight.woff") format("woff"),
    url("../../assets/fonts/Kanit-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-ExtraLightItalic.woff") format("woff"),
    url("../../assets/fonts/Kanit-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-Italic.woff") format("woff"),
    url("../../assets/fonts/Kanit-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-Light.woff") format("woff"),
    url("../../assets/fonts/Kanit-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-LightItalic.woff") format("woff"),
    url("../../assets/fonts/Kanit-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-Regular.woff") format("woff"),
    url("../../assets/fonts/Kanit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("../../assets/fonts/Kanit-SemiBold.woff") format("woff"),
    url("../../assets/fonts/Kanit-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
