.slider-enter {
  transform: translateX(-30%);
  opacity: 0;
}

.slider-exit-active,
.slider-exit {
  display: none;
}

.slider-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms ease-in-out;
}
