$color-primary: #247e3d;
$color-danger: #ff4136;
$color-warning: #ffc107;
$color-green: #28a745;
$color-blue: #1e90ff;
$color-orange: #ff8c00;
$color-brown: #8b4513;
$color-facebook: #2374E1;
$color-google: #DB4437;