@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.content-wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: calc(100vh - 97px - 3rem);
    position: relative;

    @include media-breakpoint-down(md) {
        min-height: calc(100vh - 85px - 3rem);
    }
}
